@charset "UTF-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td 
{
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}
table {
    border-collapse:separate;
    border-spacing:0;
    margin-bottom:1.4em
}
caption,th,td {
    text-align:left;
    font-weight:400
}
blockquote:before,blockquote:after,q:before,q:after {
    content:""
}
blockquote,q{
    quotes:
}
a img {
    border:0
}
html,body{
    height:80%;width:100%
}
body{
    background-color:#000000;
    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;

    
}
.wrapper{
    display:table;
    width:100%;
    height:100%;
    margin:auto

}
.cell{
    display:table-cell;
    width:100%;
    vertical-align:middle;
    position:relative;

    }
.page{
    	max-width:600px;
    	width:92%;
    	margin-left:600px;
    	margin-right:auto;
    	position:relative;
    }
.page-project{
	max-width:100%;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	}
img{
	width:auto;
	max-width:100%;
	height:auto;
	}
body,input,textarea,button{
	font-size:125%;
	line-height:1.5;
	font-family:montserrat, sans-serif;
	color:#424242;
	}
.strong{
	font-weight:700;
	}
.italic{
	font-style:italic;
	}
.small{
	font-size:.7em;
	}
.grey{
	color:#939393;
	}
.light-grey{
		color:#cecece;
		}
.smallcaps{
	font-family:ff-tundra-sc-web-pro,Georgia,Times,times new roman,serif;
	}
.blockquote{
	padding-left:1em;
	border-left:4px solid #e8e8e8;
	font-style:italic;
	}
.line-through{text-decoration:line-through;
	}
h1{
	font-size:.875em;
}
h2{
	font-size:2em;
	line-height:1.2;
	margin-bottom:.5em;
	}
#project h2,#work h2{
	margin-bottom:0;
	}
h3{
	font-size:1em;
	font-weight:700;
	margin-bottom:.5em;
	}
a{
	color:#fff000;
	padding:0 1px;
	text-decoration:none;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	transition:all .2s ease-out
	}
a:hover{
	color:#000000;
	background-color:#fff000;
	}
.button{
	display:inline-block;
	background-color:#fff000;
	padding:1em 2em;
	color:#000000;font-size:.7em;
	}
.button:hover{
	background-color:#231f20;
	color:#fff000;
	}
.button-grey{
	display:inline-block;
	background-color:#fff000;
	padding:1em 2em;
	color:#000000;
	font-size:.7em;
	}
.button-grey:hover{
	background-color:#231f20;
	color:#fff000;
	}
.article p{
	margin-bottom:1em;
	}
.diamond{
	padding:0 .25em;
	}
.end{
	padding:5em 0;
	}
#article p.last{
	margin-bottom:0;
	}
.dropcap{
	display:block;
	float:left;
	font-size:10em;
	position:relative;
	line-height:.1;
	top:-.2em;
	}
.date{
	float:right;
	}
.article-title{
	float:left;
	}
.mandatory{
	color:#be005e;
	}
p.margin-bottom{
	margin-bottom:2em;
	}
.margin-no{
	margin-bottom:0;
	}
.info-title{
	padding-top:.5em;
	}
@font-face{
	font-family:ys-webfont;
	src:url(--/webfonts/ys-webfont.eot);
	src:url(--/webfonts/ys-webfont.eot?#iefix) format('embedded-opentype'),url(--/webfonts/ys-webfont.woff) format('woff'),url(--/webfonts/ys-webfont.ttf) format('truetype'),url(--/webfonts/ys-webfont.svg) format('svg');
	}
ul.slider{
	margin:0;
	padding:0;
	list-style:none;
	height:100%;
	width:100%;
	overflow:hidden;
	}
.carousel-tabs{
	clear:both;
	}
.carousel-active-tab{
	color:red;
	}
.carousel-disabled,.mr-rotato-disabled{
	opacity:0;
	}
.slidewrap,.slider,.slide{
	height:100%;
	}
.prev-arrow{
	position:fixed;
	top:50%;
	margin-top:-.5em;
	left:0;padding:.5em 1em;
	background-color:#efefef;
	color:#c2c2c2;
	}
.next-arrow{
	position:fixed;
		top:50%;
	margin-top:-.5em;
	right:0;
	padding:.5em 1em;
	background-color:#efefef;
	color:#c2c2c2}
.left{
	float:left;
	}
.right{
	float:right;
}
.left-text{
	text-align:left;
	}
.right-text{
	text-align:right;
	}
.center-text{text-align:center;
}
.clear
{
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clearfix:after
{
	clear: both;
	content: '';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}
* html .clearfix,*:first-child+html .clearfix
{
	zoom: 1;
}
.nav
{
	margin-top: 1em;
}
ul.nav li
{
	border-bottom: 1px solid #9e004a;
	list-style: none;
	width: 100%;
	z-index: 1;
}
ul.nav li:first-child
{
	border-top: 1px solid #9e004a;
}
ul.nav li a
{
	color: #fff;
	display: block;
	padding: 10px 0;
}
ul.nav li a:hover
{
	background-color: #fff;
	color: #be005e;
	text-indent: 1em;
}
.arrow
{
	color: #e65599;
	display: none;
}
ul.nav li a:hover span.arrow
{
	text-indent: -1em;
}
.home
{
	background-color: #be005e;
	border-bottom: 0;
	color: #fff;
	display: table;
	font-size: 14px;
	height: 80px;
	left: 0;
	position: fixed;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 80px;
	z-index: 5;
}
.home:hover
{
	background-color: #231f20;
	color: #be005e;
}
span.logo
{
	font-family: ys-webfont;
	font-size: 60px;
	position: relative;
	top: -12px;
}
.home span
{
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
#table-of-contents .home
{
	background-color: #be005e;
	color: #fff;
}
#table-of-contents .home:hover
{
	background-color: #be005e;
	color: #fff;
}
.menu-site
{
	float: left;
	width: 44%;
}
.menu-elsewhere
{
	float: right;
	width: 44%;
}
.menu
{
	display: none;
}
ul.styled-list li
{
	border-bottom: 1px solid #eee;
	list-style: none;
	padding: .5em 0;
}
ul.styled-list
{
	margin-bottom: 1em;
}
ul.styled-list-hor li
{
	float: left;
	list-style: none;
	padding: .5em 0;
}
ul.normalul
{
	margin-bottom: 1em;
}
#table-of-contents
{
	background-color: #be005e;
	color: #f0b8d2;
	font-family: ff-tundra-sc-web-pro,Georgia,Times,times new roman,serif;
}
#table-of-contents hr
{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #9e004a;
	margin: .5em 0 1.5em;
}
input,textarea
{
	background-color: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 0;
	font-size: 1em;
	margin-bottom: 1em;
	moz-transition: all .2s ease-out;
	ms-transition: all .2s ease-out;
	o-transition: all .2s ease-out;
	outline: none;
	padding: .5em;
	transition: all .2s ease-out;
	webkit-appearance: none;
	webkit-transition: all .2s ease-out;
	width: 90%;
}
input:hover,textarea:hover
{
	background-color: #fff;
	border: 1px solid #d4dbde;
}
input:focus,textarea:focus
{
	background-color: #fff;
	border: 1px solid #00b6eb;
	box-shadow: 0 0 10px rgba(255,240,0,.5);
	moz-box-shadow: 0 0 10px rgba(255,240,0,.5);
	webkit-box-shadow: 0 0 10px rgba(255,240,0,.5);
}
.error
{
	background-color: #fff;
	border: 1px solid #fff000;
}
.error:hover
{
	border: 1px solid #;
}
.error:focus
{
	border: 1px solid #fff000;
	box-shadow: 0 0 10px rgba(255,240,0,.5);
	moz-box-shadow: 0 0 10px rgba(255,240,0,.5);
	webkit-box-shadow: 0 0 10px rgba(255,240,0,.5);
}
select
{
	margin-bottom: 1em;
}
#contact-form
{
	height: 100%;
	width: 100%;
}
.errormsg
{
	background-color: #fff000;
	color: #fff;
	display: table;
	font-size: .6em;
	height: 52px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 2px;
	width: 52px;
}
.errormsg p
{
	display: table-cell;
	position: relative;
	vertical-align: middle;
	color: #000000;
}
.input-container
{
	position: relative;
}
.select-box
{
	margin-bottom: 4em;
}
.article
{
	padding: 10em 0;
}
#info .article
{
	padding: 0;
}
.content
{
	margin: auto;
	padding: 2em 0;
}
.latestarticle
{
	padding: 3em 0;
}
.profile-pic
{
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 2em;
}
.turntable-pic
{
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 2em;
	padding-bottom: 3em;
}
#container a:hover
{
	background-color: transparent;
}
.soundwave
{
	background-image: url(img/wave.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #e9e9e9;
	height: 119px;
	margin-bottom: 2em;
	padding-top: 5em;
	width: 100%;
}
hr
{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #e9e9e9;
	margin: 2em 0;
}
hr.smallmargin
{
	margin: 1em 0;
}
hr.smallhr
{
	margin: 1.5em auto;
	width: 50px;
}
hr.titlehr
{
	margin: .5em 0;
}
.container
{
	margin: 0 auto;
	position: relative;
	width: 92%;
}
.grid-1,.grid-2,.grid-3
{
	float: left;
	margin: 0 1.515151515152% 3em;
}
.grid-1
{
	background-color: #f1f1f1;
	height: 10em;
	width: 13.636363636364%;
}
.grid-2
{
	width: 30.30303030303%;
}
.grid-3
{
	width: 46.969696969697%;
}
.thumb-logo
{
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}
.thumb-logo a:hover
{
	background-color: #e9e9e9;
}
.client-logo
{
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
.box
{
	float: left;
}
.photo.col3
{
	margin: 0 1.515151515152% 3em;
	width: 30%;
}
.photo.col3 img
{
	height: auto;
	width: 101%;
}
#container
{
	clear: both;
	margin: 0 auto;
	width: 92%;
}
#container.masonry
{
	overflow-x: hidden;
	overflow-y: hidden;
}
.lazy-image
{
	display: none;
}
#hero
{
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 2em;
}
.hero-container
{
	bottom: 0;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	width: 100%;
}
.halftone
{
	display: block;
	margin: 0 auto;
}
3a3a3a .ie7 .home .logo
{
	display: none;
}
.ie7 .home
{
	background-image: url(../img/logo.png);
	background-position: center;
	background-repeat: no-repeat;
}
.ie7 .home:hover
{
	background-image: url(../img/logo-hover.png);
	background-position: center;
	background-repeat: no-repeat;
}
.ie7 .dropcap
{
	line-height: 200px;
	margin-bottom: -180px;
	top: -145px;
}
@media screen and (max-width:700px)
{
	body
	{
		font-size: 100%;
	}
	h2
	{
		font-size: 1.8em;
	}
	.menu
	{
		background-color: #f8f8f8;
		border-bottom: 1px solid #dadada;
		box-shadow: 0 0 3px rgba(0,0,0,.1);
		display: block;
		font-family: ff-tundra-sc-web-pro,Georgia,Times,times new roman,serif;
		font-size: .875em;
		moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
		padding: .875em 0;
		position: fixed;
		webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
		width: 100%;
		z-index: 5;
	}
	#project-inquiry .menu,#work .menu,
	{
		position: relative;
	}
	#table-of-contents .menu
	{
		background-color: #af0057;
		border: none;
		display: block;
		font-family: ff-tundra-sc-web-pro,Georgia,Times,times new roman,serif;
		font-size: .875em;
		margin-bottom: 2em;
		padding: .875em 0;
		position: relative;
		width: 100%;
		z-index: 5;
	}
	#table-of-contents .menu p
	{
		font-weight: 700;
	}
	.home
	{
		display: none;
	}
	.prev-arrow
	{
		display: none;
	}
	.next-arrow
	{
		display: none;
	}
	.small
	{
		font-size: .875em;
	}
	#project-inquiry .wrapper
	{
		padding: 5em 0;
	}
	#project-inquiry .slidewrap,#project-inquiry .slider,#project-inquiry .slide
	{
		height: auto;
	}
	.grid-1
	{
		float: none;
		width: 96.969696969697%;
	}
	.grid-2
	{
		float: none;
		width: 96.969696969697%;
	}
	.grid-3
	{
		float: none;
		width: 96.969696969697%;
	}
	.content
	{
		margin: auto;
		padding: 5em 0;
	}
	.menu-site
	{
		float: none;
		padding-bottom: 2em;
		width: 100%;
	}
	.menu-elsewhere
	{
		float: none;
		width: 100%;
	}
	.arrow
	{
		display: inline;
	}
	.date
	{
		float: none;
	}
	.article-title
	{
		display: block;
		float: none;
	}
	.photo.col3
	{
		width: 96.969696969697%;
	}
}
@media screen and (min-width:700px) and (max-width:900px)
{
	body
	{
		font-size: 105%;
	}
	.grid-1
	{
		width: 46.969696969697%;
	}
	.grid-2
	{
		float: none;
		width: 96.969696969697%;
	}
	.photo.col3
	{
		width: 45%;
	}
}
@media screen and (min-width:900px) and (max-width:1100px)
{
	body
	{
		font-size: 115%;
	}
	.grid-1
	{
		width: 46.969696969697%;
	}
	.photo.col3
	{
		width: 45%;
	}
}
@media screen and (min-width:1100px)
{
	body
	{
		font-size: 125%;
	}
}

.yellow_txt {
	color: #fff000;
}




.para {
	color: #fff000
}

.para:hover {
	color: #000000
}

.h:hover {
	color: #000000
}

.tab {
	right-margin: 50px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  padding: 50px 440px;
}

/* Style the header links */
.header a {
  float: left;
  color: #424242;
  text-align: center;
  padding: 15px;
  margin-right: 18px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 5px;
  font-weight: bold;
  
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #fff000;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #fff000;
  color: #000000;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;

  }
}

